<table class="table">
  <thead>
    <tr>
      <th scope="col">Qty</th>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td><input type="number" name="itemQty" value="1"></td>
      <td>Iphone 5</td>
      <td>RM 2000</td>
      <td><button class="btn btn-danger">Delete</button></td>
    </tr>
    <tr>

      <td><input type="number" name="itemQty" value="1"></td>
      <td>Iphone 8</td>
      <td>RM 3000</td>
      <td><button class="btn btn-danger">Delete</button></td>
    </tr>
     <tr>

      <td><input type="number" name="itemQty" value="1"></td>
      <td>Iphone 10</td>
      <td>RM 3000</td>
      <td><button class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-secondary" routerLink="/products">Continue shopping</button>
<button class="btn btn-primary" routerLink="/orders">Proceed Checkout</button>