<table class="table">
  <thead>
    <tr>
      <th scope="col">Qty</th>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartItems">

      <td><input type="number" name="itemQty" value="{{item.quantity}}"></td>
      <td>{{item.product.name}}</td>
      <td>RM {{item.product.price}}</td>
      <td><button class="btn btn-danger" (click)="deleteProduct(item)">Delete</button></td>
    </tr>
    <tr>

      <td></td>
      <td><strong>Total</strong></td>
      <td>{{totalCount}}</td>
      <td>RM {{totalPrice}}</td>
    </tr>
    
  </tbody>
</table>
<button class="btn btn-secondary" routerLink="/products">Continue shopping</button>
<button class="btn btn-primary" routerLink="/orders">Proceed Checkout</button>